

body{
  margin: 0px;
  padding: 0px; 
}
.dropdown-content {
  display: none;
  min-width: 220px;  
}
.dropdown-content a:hover,.nav-links a:hover {
  color: white;
  border-radius: 5px;
  background-color: #ff0000  
} 
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .nav-btn{
    color: white;
    background-color: #ff0000;
    border-radius: 5px;
}
  .dropdown:hover .dropbtn {
    background-color: #ff0000;
    border-radius: 5px;
  }
  .login-btn:hover{
      background-color: white;
      color: black !important;
      font-weight: 700px;
  }
  .ham-menu{
      display: none;
      
      border: 2px solid black;

  }
  .ham-menu a{
      display: inline-block;
      color: black;
      font-weight: 700px;
      padding: 5px;
  }
  .ham-menu:hover{
      background-color: rgb(65, 63, 63);
      color: white;
  }
  .ham-menu:hover a{
      color: white;
  }
  .flex-direction-column{
    flex-direction: column;
  }
  .hover-card:hover{
    background-color: rgb(34, 34, 34) !important;
    cursor: pointer;
    color: white;
    
  }
  .hover-card:hover img{
    transform: scale(1.2);
    transition: 1.5s;
  }
  
  .courses-bg{
    background-color: #faf6fb ;
    border-radius: 10px;
    cursor: pointer;
  }
  .course-info li{
    display: inline-block !important;
  }
  
  .footer-bg{
    background-color: rgb(31, 31, 31);
  }
  .opacity-100{
    opacity: 1;
  }
  
  @media only screen and (max-width: 780px) {
    .nav-items{
        display: none;

    }
    .login-btn{
        display: none;
    }
    .ham-menu{
        display: inline-block;
    }
  }
  
 
 
    
  