
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hind+Siliguri:wght@500&display=swap');
*{
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.nav-position{
  z-index: 1000;
  position: fixed;
  top: 0px;
  right: 103px;
}
body{
  margin: 0px;
  padding: 0px;
  font-family: 'Hind Siliguri', sans-serif; 
  font-family: 'Bree Serif', serif;
}
.head-container{
  margin-top: 80px;
  border-radius: 10px;
}

  .flex-direction-column{
    flex-direction: column;
  }
  .hover-card:hover{
    background-color: rgb(34, 34, 34) !important;
    cursor: pointer;
    color: white;
    
  }
  .hover-card:hover img{
    transform: scale(1.1);
    transition: 1s;
  }
  
  .courses-bg{
    background-color: #faf6fb ;
    border-radius: 10px;
    cursor: pointer;
  }
  .course-info li{
    display: inline-block !important;
  }
  
  .footer-bg{
    background-color: rgb(31, 31, 31);
  }
  .opacity-100{
    opacity: 1;
  }
  .nav-links {
    color: black;
    text-decoration: none;
    padding: 5px 20px;
    margin: 10px;
    
  }
   .nav-links:hover  {
    color: white;
    background-color: #ff284f;
    border-radius: 5px;

  }
  .nav-links-container{
    background-color: rgb(233, 233, 233);
    border-radius: 10px;
    padding: 10px;
  }
  .navbar-position{
    margin: 0px 60px;
  }
  .login-btn{
    background-color: rgb(29, 29, 29);
    color: white;
    display: inline-block;
    padding: 10px 12px;
    border:2px solid black;
    border-radius: 5px;
  }
  .login-btn:hover{
    background-color: white;
    color: black;
  }
  .dropdown-item{
    margin: 5px;
    display: inline-block;
    border-radius: 3px;
    width: auto;
  }
  .dropdown-item:hover{
    color: white;
    background-color:#ff284f ;
  }
  .join-btn{
    border: 2px solid #38bc74;
    background-color:#38bc74 ;
    font-weight: 700;
  }
  .join-btn:hover{
    background-color: white;
    color: #38bc74;
    
  }
  .store-link{
    font-weight: 700 ;
  }
  .store-link:hover{
    color: #ff284f ;
  }
  .app-link{
    background-color:#ff284f ;
    border: 2px solid #ff284f;
    font-weight: 700px;
  }
  .app-link:hover{
    color: #ff284f;
    background-color: white;
  }
  .card-animation{
    box-shadow: 0px 5px 25px gray;
    border-radius: 5px;
  }
  .card-animation:hover{
    transform: scale(1.2);
    transition: 1s;
  }
  .numaric-info{
    font-size:.8rem;
  }
  .feature-link{
    color: white;
    display: inline-block;
    border: 2px solid #ff284f;
    border-radius: 5px;
    padding: 10px;
    background-color: #ff284f;
  }
  .feature-link:hover{
    color: #ff284f;
    background-color: white;
  }
  .footer-bg a{
    color: gainsboro !important;
  }
  .footer-bg a:hover{
    color: rgb(255, 255, 255) !important;
  }
  .bi-facebook, .bi-instagram, .bi-youtube, .bi-linkedin{
    display: inline-block;
    color: rgb(190, 190, 190);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 2px;
  }
  .bi-facebook:hover, .bi-instagram:hover, .bi-linkedin:hover, .bi-youtube:hover{
    color:#ff284f ;
  }
  
  
 
 
    
  